.toggle { border-radius: 20rem; }
  .closeicon{
      font-weight: 400 !important;
  }
  .switch {
  margin: 4rem auto;
}
/* main styles */
#draggable {
    border-radius: 0%;
    background-image: url("/images/drop2.png");;
    width: 60px;
    height: 60px;
    background-size: 60px auto;
    background-position: 0px -60px;
}
.switch {
    width: 24rem;
    position: absolute;
    right: 51mm;
}
.switch input {
  position: absolute;
  top: 0;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}
.switch input:checked {
  z-index: 1;
}
.switch input:checked + label {
  opacity: 1;
  cursor: default;
}
.switch input:not(:checked) + label:hover {
  opacity: 0.5;
}
.switch label {
  color: #495057;
  opacity: 0.33;
  transition: opacity 0.25s ease;
  cursor: pointer;
}
.switch .toggle-outside {
  height: 100%;
  border-radius: 2rem;
  padding: 0.25rem;
  overflow: hidden;
  transition: 0.25s ease all;
}
.switch .toggle-inside {
    border-radius: 5rem;
    background: #61d03e;
    position: absolute;
    margin-top: -2px;
    transition: 0.25s ease all;
}

.switch--horizontal {
  margin: 0 auto;
  font-size: 0;
  margin-bottom: 1rem;
}
.switch--horizontal input {
  height: 3rem;
  width: 6rem;
  left: 6rem;
  margin: 0;
}
.switch--horizontal label {
  font-size: 1.5rem;
  line-height: 3rem;
  display: inline-block;
  width: 6rem;
  height: 100%;
  margin: 0;
  text-align: center;
}
.switch--horizontal label:last-of-type {
    margin-left: 4rem;
    margin-top: -10px;
}
.switch--horizontal .toggle-outside {
    position: absolute;
    width: 68px;
    left: 6rem;
    height: 2rem;
    border: 2px #a4a3b1 solid;
}
.switch--horizontal .toggle-inside {
  height: 1.5rem;
    width: 1.5rem;
}
.switch--horizontal input:checked ~ .toggle-outside .toggle-inside {
  left: 0.25rem;
}
.switch--horizontal input ~ input:checked ~ .toggle-outside .toggle-inside {
  left: 2.25rem;
}
.switch--vertical {
  width: 12rem;
  height: 6rem;
}
.switch--vertical input {
  height: 100%;
  width: 3rem;
  right: 0;
  margin: 0;
}
.switch--vertical label {
  font-size: 1.5rem;
  line-height: 3rem;
  display: block;
  width: 8rem;
  height: 50%;
  margin: 0;
  text-align: center;
}
.switch--vertical .toggle-outside {
  background: #fff;
  position: absolute;
  width: 3rem;
  height: 100%;
  right: 0;
  top: 0;
}
.switch--vertical .toggle-inside {
  height: 2.5rem;
  left: 0.25rem;
  top: 0.25rem;
  width: 2.5rem;
}
.switch--vertical input:checked ~ .toggle-outside .toggle-inside {
  top: 0.25rem;
}
.switch--vertical input ~ input:checked ~ .toggle-outside .toggle-inside {
  top: 3.25rem;
}
.switch--no-label label {
  width: 0;
  height: 0;
  visibility: hidden;
  overflow: hidden;
}
.switch--no-label input:checked ~ .toggle-outside .toggle-inside {
  background: rgba(0,0,0,0.2);
  border: 1px solid rgba(0,0,0,0.2);
}
.switch--no-label input ~ input:checked ~ .toggle-outside {
  background: #fff;
}
.switch--no-label input ~ input:checked ~ .toggle-outside .toggle-inside {
  background: #2ecc71;
}
.switch--no-label.switch--vertical {
  width: 3rem;
}
.switch--no-label.switch--horizontal {
  width: 6rem;
}
.switch--no-label.switch--horizontal input,
.switch--no-label.switch--horizontal .toggle-outside {
  left: 0;
}
.switch--expanding-inner input:checked + label:hover ~ .toggle-outside .toggle-inside {
  height: 2.5rem;
  width: 2.5rem;
}
.switch--expanding-inner.switch--horizontal input:hover ~ .toggle-outside .toggle-inside {
  width: 3.5rem;
}
.switch--expanding-inner.switch--horizontal input:hover ~ input:checked ~ .toggle-outside .toggle-inside {
  left: 2.25rem;
}
.switch--expanding-inner.switch--vertical input:hover ~ .toggle-outside .toggle-inside {
  height: 3.5rem;
}
.switch--expanding-inner.switch--vertical input:hover ~ input:checked ~ .toggle-outside .toggle-inside {
  top: 2.25rem;
}

.pnlm-panorama-info{
    display:none !important;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    margin-right: 1mm;
}
.loadera {
  position: relative;
  text-align: center;
  margin: 15px auto 35px auto;
  z-index: 9999;
  display: block;
  width: 80px;
  height: 80px;
  border: 10px solid rgba(0, 0, 0, .3);
  border-radius: 50%;
  border-top-color: #0681E1;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;

}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
.pnlm-hotspot.pnlm-scene {
    background-position: 0px -60px;
}
.pnlm-sprite {
    background-image: url("/images/drop2.png");;
    width: 60px;
    height: 60px;
    background-size: 60px auto;
}
.dd-select{
    width: 259px !important;
    background: rgb(238, 238, 238) !important;
}
.dd-desc{
    display:none !important;
}
.dd-options{
    width: 259px !important;
    display: block;
}
.dd-selected{
    overflow: hidden;
    display: block;
    padding: 5px !important;
    font-weight: bold;
}
.dd-option-image, .dd-selected-image{
    vertical-align: middle;
    float: left;
    margin-right: 5px;
    max-width: 75px !important;
}
dd-option-image{    
    height: 9mm !important;
    width: fit-content !important;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
    font-weight: 400 !important;
    margin-top: 6px;
}
div.pnlm-tooltip span {
    visibility: hidden;
    position: absolute;
    border-radius: 3px;
    background-color: white;
    color: green;
    text-align: center;
    max-width: 200px;
    padding: 5px 10px;
    margin-left: -220px;
    cursor: default;
}

div.pnlm-tooltip:hover span:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: white transparent transparent transparent;
    bottom: -20px;
    left: -10px;
    margin: 0 50%;
}
div.pnlm-tooltip:hover span {
    margin-left: 63.5px !important;
    margin-top: 7px !important;
}
.fiststep{
    background: white;
    width: 52mm;
    height: 9mm;
    margin-left: 70px;
    margin-top: 6px;
}
.dd-selected-description-truncated{
    visibility: hidden !important;
}


.rooms-types-uplo {
    font-size: 12px;
}
.rooms-types-uplo {
    background-color: white;
    border: 1px dashed gray;
    margin-top: 4mm;
    cursor: pointer;
    /* padding: 37px; */
}
.rooms-types-uplo:hover,.rooms-types-uplo.hover{
    background-color: white;
    border:1px dashed gray;
    margin-top: 4mm;
    transition: border-width 0.5s linear;
  
}

.rooms-types-uplox{
    background-color: #ededed;
    margin-top: 4mm;
}
.rooms-container .rooms-types .image-element {
    height: 130px;
    width: 100%;
    background-size: cover;
}
.rooms-container .rooms-types:hover {
    outline: 2px #007bff solid;
}
@media only screen and (max-width: 1000px) {
    .rooms-container .rooms-types .image-element {
        height: 100px;
    }
}

@media only screen and (max-width: 768px) {
    .rooms-container .rooms-types .image-element {
        height: 150px;
    }
}

.pnlm-interaction-msg{
    display: none !important;
}

.ui-sortable-handl{
    margin-bottom: 22px !important;
    font-size: 20px !important;
}

















.card {
    width: 80mm;
    margin-left: 81px;
    margin-top: 0px;
}
.hover {
    position: absolute;
    width: 0px;
    height: 0px;
    border-left: 16px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 18px solid white;
    margin-top: 17px;
    margin-left: 59px;
    transform: rotate(-92deg);
}
.time {
    font-size: 47px;
    position: absolute;
    left: 36mm;
    top: 4mm;
    font-weight: 900;
    color: gray;

}

.recordbutton {
    background-color: red;
    border: none;
    padding: -1px;
    font-size: 41px;
    height: 20mm;
    width: 20mm;
}

.button5 {
    border-radius: 50%;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

#list {
    width: 100%;
    text-align: left;
    position: absolute;
    left: 0;
    top: 0;
}

#list .thumb {
    height: 75px;
    margin: 11px 5px 0 0;
    padding-bottom: 5px;
}
.rooms-types-uplo {
    font-size: 12px;
}


.card {
    width: 80mm;
    margin-left: 81px;
    margin-top: 0px;
}
.hover {
    position: absolute;
    width: 0px;
    height: 0px;
    border-left: 16px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 18px solid white;
    margin-top: 17px;
    margin-left: 59px;
    transform: rotate(-92deg);
}

form.is-readonly .btn-save {
    display: none;
}
form.is-readonly input[disabled],
form.is-readonly textarea[disabled] {
    cursor: text;
    background-color: #fff;
    border-color: transparent;
    outline-color: transparent;
    box-shadow: none;
}
form.is-editing .btn-edit {
    display: none;
}
#exampleInputPassword1 {
    background: none;
    border: none;
    width: 39mm;
    overflow: hidden;
    white-space: nowrap;
}
.js-edit {
    margin-top: -32px;
    margin-left: 144px;
}
.js-save {
    margin-top: -32px;
    margin-left: 144px;
}
.audio_player {
    position: absolute;
    top: -19mm;
    background-color: white;
    height: 4mm;
    width: 6mm;
    margin: 0;
    padding: 7px;
    right: 6mm;
}
.tes {
    color: red;
}
.recplay{
    margin-left: 10px;
}
.rooms-types-uplo{
    background-color: white;
    border:1px dashed gray;
    margin-top: 4mm;
    cursor: pointer;
}
.rooms-types-uplo:hover,.rooms-types-uplo.hover{
    background-color: white;
    border:1px dashed gray;
    margin-top: 4mm;
    transition: border-width 0.5s linear;
  
}
#plusicon{
    font-size: 15mm;
    color: #E4E3E3;
    margin-top: 28px;
}
p{
    margin: auto;
    width: 100%;
    padding: 10px;
    color: #0084FF;
    font-size: 4mm;
    font-weight: 700;
}


.fa-times{
    color:#0681E1;
}
.audioicon{
    color: white
}


#pauseaudio{
	animation-name: pulse;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes pulse{
	0%{
		box-shadow: 0px 0px 5px 0px rgba(173,0,0,.3);
	}
	65%{
		box-shadow: 0px 0px 5px 13px rgba(173,0,0,.3);
	}
	90%{
		box-shadow: 0px 0px 5px 13px rgba(173,0,0,0);
	}
}

.rooms-types-uplox{
    background-color: #ededed;
    margin-top: 4mm;
}
.pnlm-hotspot-base{
  display: none;
}